__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# local data & heavy outputs
bts_on_time_data/
data/
outputs/
artifacts/
*.parquet
*.feather
*.csv
*.csv.zip
*.zip

# OS/editor junk
.DS_Store
*.swp
